/* BUTTONS */
/* over-write AdminLTE colours. */
.btn-primary {
  background-color: blue;
  border-color: #233140;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #233140;
}
